<!-- <table>
  <tr>
    <td class="text-white">{{Product.name}}</td>
  </tr>
</table> -->

<div class="moviecard">

  <h2 class="cardtitre">{{Product.name}}</h2>

  <img  src={{Product.photo}} url alt="filmimage" width="300px" height="350px">
  <p class="desc">description</p>

 <!--  <div class="modsup ">
      <div><button>Editer</button></div>

  <div><button>Supprimer</button></div>
  </div> -->
  <p class="rating">{{Product.rating}}</p>
  <input routerLink={{Product.id}} type="button" value="Details" class="btn btn-warning">

</div>

