<div class="pt-5">
  <h1 class="text-white text-center lobsterFont">Update a product</h1>
  <div class=" container mt-5 " style="width:500px;">



    <form class="" #formUpdateProduct="ngForm" (ngSubmit)="updateProduct(formUpdateProduct)" >


     <div class="form-group mt-3 mb-3 ">
      <div></div>
      <input class="form-control" [placeholder]="product.id" name="id" type="number" disabled   ngModel #id="ngModel" required  pattern=[0-9]+>
    <caption class="text-white">The ID is unchangeable</caption>
    </div>
    <div class="alert alert-danger " *ngIf="id.touched && !id.valid">
      <div *ngIf="id.errors.required">The product id is a required field</div>
      <div *ngIf="id.errors.pattern">The product id must be numeric</div>
    </div>


      <div class="form-group ">
        <!-- <label class="text-white" for="">Name</label> -->
        <input class="form-control" name="name" [placeholder]="product.name" type="text"  ngModel #name="ngModel" required minlength=3>
      </div>
      <div class="alert alert-danger " *ngIf="name.touched && !name.valid">
        <div *ngIf="name.errors.required">The product name is a required field</div>
        <div *ngIf="name.errors.minlength">The minimum is 3 characters</div>
      </div>
      <div class="form-group d-flex justify-content-around container mt-3 mb-3">
          <label class="text-white" for=""><b>Category :</b></label> <br>

          <div class="d-flex justify-content-around container" style="width:300px;">
          <div class="d-flex ">
            <div class="d-flex align-items-center">
              <input type="radio" id="primary-outlined" class="" value="Atomiseur"   name="category"
                  ngModel #category="ngModel" required>
                  <div class="text-white"><b>Atomiseur</b></div> </div>

          </div>

          <div class="d-flex ">
            <div class="d-flex align-items-center">
              <input type="radio" class="" name="category" value="Liquid"  ngModel
                #category="ngModel"></div>

             <div class="text-white"><b>Liquid</b></div>
          </div>


        </div>

      </div>
      <div class="alert alert-danger" *ngIf="category.invalid && category.touched">
        The product category is a required field
      </div>
     <!--<div class="alert alert-danger" *ngIf="category.invalid && category.touched">
        The product category is a required field
      </div>-->
      <div class="form-group"><!-- <label class="text-white" for="">price</label> -->
        <input class="form-control" [placeholder]="product.price" name="price" type="text" ngModel #price="ngModel" required pattern=[0-9]+></div>
      <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
        <div *ngIf="price.errors.required">The product price is a required field</div>
        <div *ngIf="price.errors.pattern">The product price must be numeric</div>

      </div>
      <div class="form-group mt-3 mb-3"><!-- <label class="text-white" for="">photo</label> --><input class="form-control"  name="photo"
          type="text" ngModel #photo="ngModel" [placeholder]="product.photo" required></div>
      <div class="alert alert-danger" *ngIf="photo.invalid && photo.touched">
        The product photo is a required field
      </div>
      <div class="form-group mt-3 mb-3"><textarea class="form-control"
          name="description" [placeholder]="product.description" ngModel #description="ngModel" required> </textarea></div>
      <div class="alert alert-danger" *ngIf="description.invalid && description.touched">
        The product description is a required field
      </div>

      <div class="form-group mt-3 mb-3 ">

        <input class="form-control" [placeholder]="product.rating" name="rating" type="number"  ngModel #rating="ngModel" required  pattern=[0-5]>
      </div>
      <div class="alert alert-danger " *ngIf="rating.touched && !rating.valid">
        <div *ngIf="rating.errors.required">The product rating is a required field</div>
        <div *ngIf="rating.errors.pattern">The product rating must be numeric and between 0 and 5</div>
      </div>

      <button class="btn btn-warning"  [disabled]="formUpdateProduct.invalid" type="submit">
        update Product</button>
        <!-- <div *ngIf ="sent"><a routerLink="/listproduct"></a></div> -->
    </form>
  </div>
</div>

