
<div class="pt-5">
<input class="container form-control  mb-5" name="x" placeholder="search ..." [(ngModel)]="search">




<div class="d-flex justify-content-around flex-wrap">

<div   *ngFor="let item of listProduct; let i = index ; ">
<div *ngIf="search==null ||item.category.toLowerCase().includes(search.toLowerCase()) || item.name.toLowerCase().includes(search.toLowerCase())  ">
  <div style="cursor: pointer;" (click)="like(i)" [ngClass]="tab[i]?'heart-shape' : 'heart-shape-gray'" class=" position-relative"></div>

  <app-product   [Product]="item"  >   </app-product>
</div>




</div>
</div>
</div>
