.body{

  background-image: url("../../assets/bg6.jpg");

  background-size: cover;

  min-height: 844px;
  min-width: 1024px;

}
.permanent
{
 font-family: 'Permanent Marker', Cochin, Georgia, Times, 'Times New Roman', serif;
 color: #C3D4DE;
}
.black{
 background-color:#030711;
 padding-left: 20px;
 padding-right: 20px;

 background-size: cover;


}
.navbar{
 background-color: #EAF4F5;
 box-shadow: white;
 box-shadow: 5px 5px 10px;
 padding-left: 20px;
 padding-right: 20px;

}
